label {
	font-size: $size-sm;
}

label, select {
	display: block;
}

input[type="search"] {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-appearance: textfield;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

textarea {
	overflow: auto;
	vertical-align: top;
	width: 100%;
	height: 200px;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"] {
	padding: $size-sm/2 $size-sm;
	background: $white;
	border: 1px solid $color-grey-light;
	outline: 2px solid transparent;

	@include fonts(body);
	font-weight: 300;
	@include transition(outline);

	&:focus {
		border: 1px solid $color-med;
		outline: 2px solid $color-med !important;
	}
}

input[type="radio"],
input[type="checkbox"] {
	margin: 4px 0 0;
	margin-top: 1px \9;
	*margin-top: 0;
	line-height: normal;
	cursor: pointer;
}

input[type="file"],
input[type="image"],
input[type="email"],
input[type="reset"],
input[type="text"] {
	width: 100%;
}

input[type="submit"],
button {
	&:not(.give-donation-level-btn) {
		@include button($color-dark);
	}
}

select,
input[type="file"] {
	*margin-top: 4px; /* In IE7, the height of the select element cannot be changed by height, only font-size */
}

input[type="file"] {
	font-size: $size-xs;
	background-color: $color-vlight;
	padding: $size-xs $size-sm;
}

select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
	outline: $border-reg;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}


//
// MailChimp
//

.asterisk {
	color: $color-dark;
}

.mc_title {
	margin-bottom: 0;
}

.indicates-required,
.mce_inline_error {
	font-size: $size-sm;
	font-style: italic;
	font-weight: $font-weight-base;
}

.mc-field-group {
	margin-top: $size-sm;
}

.mc-field-group-row {
	@media( $phablet-start ) {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: $size-md;
	}
}

.give-btn {
	&:hover {

	}
}

//
// Gravity Forms
//

.gform_wrapper {

	input[value="Other"] {
		font-size: $size-sm !important;
	}

	.gfield_checkbox > li {
		display: flex;
		> label {
			margin-left: $size-xs !important; // Because.
		}
	}

}

.gform_wrapper .field_sublabel_above .ginput_complex.ginput_container label, .gform_wrapper .field_sublabel_above div[class*=gfield_date_].ginput_container label, .gform_wrapper .field_sublabel_above div[class*=gfield_time_].ginput_container label, .gform_wrapper .field_sublabel_below .ginput_complex.ginput_container label, .gform_wrapper .field_sublabel_below div[class*=gfield_date_].ginput_container label, .gform_wrapper .field_sublabel_below div[class*=gfield_time_].ginput_container label {
	letter-spacing: 0 !important;
}

//
// Buttons
//


@mixin btn {
	text-decoration: none;
	display: inline-block;
}

.btn--outline {
	@include btn;
	@include button($white);
	border-color: $color-dark;
	color: $color-dark;
}