* {
	box-sizing: border-box;
}

.grid-outer {
	display: grid;
	padding-left: 5%;
	padding-right: 5%;
	grid-template-columns: minmax(min-content, 600px);
	place-content: center;

	@media( $tablet-start ) {
		padding-left: 0;
		padding-right: 0;
		grid-column-gap: 30px;
		grid-template-columns: .5fr repeat(3, 1fr) 1fr;
	}

	@media( $desktop-start ) {
		grid-template-columns: .5fr repeat(5, 1fr) .5fr;
	}

}

.content {
	padding-top: $size-md;
	max-width: map-get($screens, 'tablet');
	grid-column: 1 / 6;

	@media( $tablet-start ) {
		grid-column: 2 / 5;
	}
}

.inner {
	margin: 0 auto;
	padding-left: 3vw;
	padding-right: 3vw;

	@media( $tablet-start ) {
		max-width: map-get( $screens, 'desktop' );
	}

	img {
		max-width: 100%;
	}
}
