* {
	box-sizing: border-box;
}

.grid-outer {
	display: grid;
	grid-template-columns: minmax(min-content, 600px);
	grid-template-areas: "content"
											 "sidebar";
	justify-content: center;

	@media( $tablet-start ) {
		padding-left: 0;
		padding-right: 0;
		grid-column-gap: 30px;
		// grid-template-columns: .5fr repeat(3, minmax(100px, 300px)) .5fr;
		// grid-template-areas: "... content content sidebar ...";
		grid-template-columns: .5fr repeat(5, minmax(100px, 250px)) .5fr;
		grid-template-areas: "... content content content sidebar sidebar ...";
	}

}

.content,
.grid-outer > *:not(img):not(video):not(.content):not(.alignwide):not(.alignfull):not(.exclude) {
	max-width: map-get($screens, 'tablet');
	padding-left: $gutter;
	padding-right: $gutter;

	@media( $tablet-start ) {
		grid-column: 1 / span 2;
	}

	@media( $tablet-start ) {
		grid-column: 2 / span 4;
	}
}

.alignfull {
	grid-column: 1 / -1;
	img {
		width: 100%;
	}
}

.sidebar {
	max-width: map-get($screens, 'tablet');
	grid-area: sidebar;

	@media( $mobile-only ) {
		padding-left: $gutter;
		padding-right: $gutter;
	}
}

.inner {
	margin: 0 auto;
	padding-left: $gutter;
	padding-right: $gutter;

	@media( $tablet-start ) {
		max-width: map-get( $screens, 'desktop' );
	}

	img {
		max-width: 100%;
	}
}
