* {
	box-sizing: border-box;
}

.grid-outer {
	display: grid;
	grid-template-columns: minmax(min-content, 600px);
	grid-template-areas: "content"
											 "sidebar";

	place-content: center;

	@media( $tablet-start ) {
		padding-left: 0;
		padding-right: 0;
		grid-column-gap: 30px;
		grid-template-columns: .5fr repeat(3, minmax(100px, 300px)) .5fr;
		grid-template-areas: "... content content sidebar ...";
	}

	@media( $desktop-start ) {
		grid-template-columns: .5fr repeat(5, minmax(100px, 250px)) .5fr;
		grid-template-areas: "... content content content sidebar sidebar ...";
	}

}

.content {
	max-width: map-get($screens, 'tablet');
	grid-area: content;
	padding-left: 5%;
	padding-right: 5%;
}

.sidebar {
	max-width: map-get($screens, 'tablet');
	grid-area: sidebar;

	@media( $mobile-only ) {
		padding-left: 3%;
		padding-right: 3%;
	}
}

.inner {
	margin: 0 auto;
	padding-left: 3vw;
	padding-right: 3vw;

	@media( $tablet-start ) {
		max-width: map-get( $screens, 'desktop' );
	}

	img {
		max-width: 100%;
	}
}
