body {
	@include fonts(body);
	line-height: $line-height-base;
	font-size: 110%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@include fonts(heading);
	line-height: $line-height-sm;
}

a,
a:link,
a:not(.btn) {
	color: $color-dark;
	@media( $desktop-nav ) {
		&:hover {
			color: $color-vdark;
		}
	}
}

p, li, label, input, textarea {
	font-size: $size-p;
}

h2 {
	font-size: $size-h2;
}

h3, h4 {
	font-size: $size-h3;
	margin-top: $size-md;
}

.meta__title {
	text-transform: uppercase;
	color: $color-grey;
	font-size: $size-p-sm;
	margin-bottom: 0;
}

.meta__desc {
	margin-top: 0;
}
