body {
	@include fonts(body);
	line-height: $line-height-base;
	font-size: 115%;
}

h1, h2, h3, h4, h5, h6 {
	@include fonts(heading);
	line-height: $line-height-sm;
}

a, a:link {
	color: $color-dark;

	&:hover {
		color: $color-vdark;
	}

	&:visited:not(.nav__link) {
		color: $color-darker;
	}
}

.meta__title {
	text-transform: uppercase;
	color: $color-grey;
	font-size: $size-sm;
	margin-bottom: 0;
}

.meta__desc {
	margin-top: 0;
}