
.header__brand {
	display: flex;
	align-items: center;
}

.brand__logo {
	width: 100px;
	height: auto;
	padding-right: $size-sm;
}

.brand__text {
	font-size: $size-sm-md;
	flex-shrink: 0;
	> a {
		color: $color-vdark;
		font-weight: $font-weight-strong;
		text-decoration: none;
	}
}
