.content {

	@media( $tablet-start ) {
		h2 {
			font-size: $size-md-lg;
		}

		h3 {
			font-size: $size-md;
		}
	}

	img {
		max-width: 100%;
	}
}

.wp-block-gallery {
	@include unstyle-list;
	margin-left: -8px;
	margin-right: -8px;
}

figure {
	margin-left: 0;
	margin-right: 0;
}

.wp-block-image {
	margin-left: 0;
	margin-right: 0;

	&.alignleft {
		float: left;
	}

	&.alignright {
		float: right;
		// margin-right: -5%;
	}
}



.alignwide {
	@media( $tablet-start ) {
		grid-column: 2 / 7;
	}
}

// .callout {
// 	display: grid;
// 	grid-template-columns: repeat(3, 1fr);
// 	grid-column-gap: 30px;
// }

// .callout__image {
// 	grid-column: 1;
// }

// .callout__details {
// 	grid-column: 2 / 4;
// }