
@media( $tablet-start ) {

	.site__footer .inner {
		display: flex;
		flex-wrap: wrap;
	}

	.footer__first {

	}

	.footer__last {

	}
}

.footer__copy {
	margin-top: $size-sm;
	background: $color-grey;
	font-size: $size-sm;
}