$mobile-nav: 'max-width: #{map-get($screens, 'tablet') - 1}';
$desktop-nav: 'min-width: #{map-get($screens, 'tablet')}';

.header__nav {
	display: flex;
}

.nav__toggle {
	@media( $mobile-nav ) {
		display: flex;
		position: relative;
		z-index: $z-tiptop;
		background-color: $color-dark;
		color: $color-white;
		text-transform: uppercase;
		font-size: $size-sm;
		border: 0;

		&:before {
			content: '+';
			margin-right: $size-xs;
		}

		&:focus {
			outline: 5px solid $color-vdark;
		}
	}

	@media( $desktop-nav ) {
		display: none;
	}
}

.nav__list {
	display: flex;
	flex-wrap: wrap;
	@include unstyle-list();

	@media( $mobile-nav ) {
		position: fixed;
		top: 0;
		right: -100%;
		z-index: $z-top;
		min-width: 50vw;
		height: 100vh;
		padding-top: $size-lg;

		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: right;

		visibility: hidden;
		transition: all 0.25s ease-out;

		&.js-open {
			visibility: visible;
			background-color: $color-vdark;
			border-left: 5px solid $color-dark;
			right: 0;
		}
	}

	@media( $desktop-nav ) {
		display: flex;
		flex-direction: row;
		margin-left: $size-sm;
		margin-right: 0;
	}
}

.nav__list__item {
	padding-left: 1vw;
	padding-right: 1vw;

	@media( $mobile-nav ) {
		&.current-menu-item {
			background: $color-dark;
		}
	}

}

.nav__link {
	color: $color-white;

	@media( $desktop-nav ) {
		color: $color-dark;
		border-top: 10px solid transparent;
		@include transition(all);

		.current-menu-item &,
		&:hover {
			color: $color-vdark;
			border-color: $color-dark;
		}

	}

	font-weight: $font-weight-strong;
	text-decoration: none;
	display: inline-block;
	padding-top: $size-xs;
	padding-bottom: $size-xs;
}
