
.page__header {
	background-color: $color-vdark;
	color: $color-white;
}

.page__title {
	font-size: $size-h1;
	margin-bottom: 0;
}

.page__tagline {
	font-size: $size-h4;
	// margin-top: 0;
}

.page__header-content {
	display: flex;
	flex-direction: column;
	justify-content: center;

	@media( $tablet-start ) {
		align-items: flex-end;

		> * {
			width: 100%;
			max-width: 400px;
		}
	}
}

.page__header-image {
	display: block;
	object-fit: cover;
	width: 100%;
	height: 100%;

	.no-objectfit & {
		height: auto;
	}

	@media( $tablet-start ) {
		min-height: 400px;
		clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
	}

}

.page__main {
	@media( $tablet-start ) {
		padding-top: $gutter*2;
	}
}

.page__content {
	@media( $tablet-start ) {
		padding-top: 0;
	}
}
