
.page__header {
	background-color: $color-vdark;
	color: $color-white;
}

.page__title {
	font-size: $size-md-lg;
	margin-bottom: 0;

	@media( $phablet-start ) {
		font-size: $size-lg;
	}
}

.page__tagline {
	font-size: $size-sm-md;
	margin-top: 0;

	@media( $tablet-start ) {
		font-size: $size-md;
	}
}

.page__header-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;

	> * {
		width: 100%;
		max-width: 600px;
	}
}

.page__header-image {
	object-fit: cover;
	width: 100%;

	max-height: 400px;
	min-height: 30vh;

	.no-objectfit & {
		min-height: auto;
		max-height: none;
	}

	@media( $tablet-start ) {
		clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
	}

}

.page__main {
	// background-color: $color-grey-vlight;
	// padding-top: 15px;

	// @media( $tablet-start ) {
	// 	padding-top: 30px;
	// 	padding-bottom: 30px;
	// }
}

.page__content {
	// background-color: $color-white;
	// padding-top: $size-md;
}

