.page__sidebar {
}

.sidebar__widgets {
	@include unstyle-list;
}

.widget {
	background-image: linear-gradient(to bottom left, $color-white, $color-grey-vlight);

	@media( $tablet-start ) {
		margin-bottom: $gutter;
		margin-top: 0;
	}
}

.widget__title {
	margin-top: 0;
}