.sidebar {
}

.widgets {
	@include unstyle-list;
}

.widget {
	background-color: $color-white;
	padding: 5%;
	margin-top: 15px;
	margin-bottom: 15px;

	@media( $tablet-start ) {
		margin-bottom: 30px;
		margin-top: 0;
	}
}

.widget__title {
	margin-top: 0;
}