.page__sidebar {
	@media( $tablet-start ) {
		padding-right: $gutter;
	}
}

.sidebar__widgets {
	@include unstyle-list;
}

.widget {
	background-image: linear-gradient(to bottom left, $color-white, $color-grey-vlight);
	border-top: 5px solid $color-dark;
	padding-top: 0;

	@media( $tablet-start ) {
		margin-bottom: $gutter;
		margin-top: 0;
	}

	// If smaller widget text
	// p, li {
	// 	font-size: $size-p-sm;
	// }
}

.widget__title {
	font-size: $size-h4;
	background: $color-vdark;
	margin-top: 0;
	padding: $gutter;
	margin-left: -$gutter;
	margin-right: -$gutter;
	color: $color-white;
}