// stylelint-disable 

* {
	box-sizing: border-box;
}

body {
	overflow-x: hidden;
}

img {
	height: auto;
	max-width: 100%;
}

// Utilities

.max {
	max-width: map-get($screens, 'desktop');
	margin: auto;
}

.pad {
	padding: $gutter;
}

// Apply grid

.grid {
	@media( $tablet-start ) {
		display: flex;
		justify-content: space-between;
		@include display-grid;
	}
}

.layout-single {
	grid-template-columns: minmax(min-content, 800px);
	justify-content: center;
	
	.no-cssgrid & {
		.content { max-width: 800px; }
	}
}

// Sidebar layout

.layout-sidebar {

	@media( $tablet-start ) {
		grid-template-columns: 2fr 1fr;

		.no-cssgrid & {
			.content { width: calc(66.66666% - #{$gutter}); }
			.sidebar { width: 33.33333%; }
		}
	}
}

// Image/content layout

.layout-image {

	@media( $tablet-start ) {
		grid-template-columns: repeat(5, 1fr);
		.content { grid-column: 1 / 3; }
		.image { grid-column: 3 / -1; }

		.no-cssgrid & {
			.content { width: calc(40% - #{$gutter}); }
			.image { width: 60%; }
		}
	}
}

// Footer Layout

.layout-thirds {
	@media( $tablet-start ) {
		grid-template-columns: repeat(3, 1fr);

		.no-cssgrid & > * {
			width: calc(33.3333% - #{$gutter});
		}
	}
}
