html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

body:after {
  position: fixed;
  z-index: 9;
  bottom: 0;
  right: 0;
  color: white;
  padding: 20px;
  font-weight: 700;
  text-align: center; }
  @media (max-width: 640px) {
    body:after {
      background-color: #1b75bc;
      content: 'Mobile only'; } }
  @media (min-width: 641px) {
    body:after {
      background-color: #59405C;
      content: 'Phablet Start'; } }
  @media (min-width: 900px) {
    body:after {
      background-color: #1BBF54;
      content: 'Tablet start'; } }
  @media (min-width: 1100px) {
    body:after {
      background-color: #FC625D;
      content: 'Desktop start'; } }

@font-face {
  font-family: system;
  font-style: normal;
  font-weight: inherit;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma"); }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.grid-outer {
  display: grid;
  grid-template-columns: minmax(-webkit-min-content, 600px);
  grid-template-columns: minmax(min-content, 600px);
  grid-template-areas: "content" "sidebar";
  place-content: center; }
  @media (min-width: 900px) {
    .grid-outer {
      padding-left: 0;
      padding-right: 0;
      grid-column-gap: 30px;
      grid-template-columns: 0.5fr repeat(3, minmax(100px, 300px)) 0.5fr;
      grid-template-areas: "... content content sidebar ..."; } }
  @media (min-width: 1100px) {
    .grid-outer {
      grid-template-columns: 0.5fr repeat(5, minmax(100px, 250px)) 0.5fr;
      grid-template-areas: "... content content content sidebar sidebar ..."; } }

.content {
  max-width: 900px;
  grid-area: content;
  padding-left: 5%;
  padding-right: 5%; }

.sidebar {
  max-width: 900px;
  grid-area: sidebar; }
  @media (max-width: 640px) {
    .sidebar {
      padding-left: 3%;
      padding-right: 3%; } }

.inner {
  margin: 0 auto;
  padding-left: 3vw;
  padding-right: 3vw; }
  @media (min-width: 900px) {
    .inner {
      max-width: 1100px; } }
  .inner img {
    max-width: 100%; }

body {
  font-family: Arial, serif;
  line-height: 1.5;
  font-size: 115%; }
  .fonts-loaded body {
    font-family: "Source Sans Pro", Arial, sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, sans-serif;
  line-height: 1.3; }
  .fonts-loaded h1, .fonts-loaded h2, .fonts-loaded h3, .fonts-loaded h4, .fonts-loaded h5, .fonts-loaded h6 {
    font-family: "Source Sans Pro", Arial, sans-serif; }

label {
  font-size: 1rem; }

label, select {
  display: block; }

input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top;
  width: 100%;
  height: 200px; }

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"] {
  padding: 0.5rem 1rem;
  background: #ffffff;
  border: 1px solid #aaaaaa;
  outline: 2px solid transparent;
  font-family: Arial, serif;
  font-weight: 300;
  -webkit-transition: 0.2s ease outline;
  -o-transition: 0.2s ease outline;
  transition: 0.2s ease outline; }
  .fonts-loaded textarea, .fonts-loaded
  input[type="text"], .fonts-loaded
  input[type="password"], .fonts-loaded
  input[type="datetime"], .fonts-loaded
  input[type="datetime-local"], .fonts-loaded
  input[type="date"], .fonts-loaded
  input[type="month"], .fonts-loaded
  input[type="time"], .fonts-loaded
  input[type="week"], .fonts-loaded
  input[type="number"], .fonts-loaded
  input[type="email"], .fonts-loaded
  input[type="url"], .fonts-loaded
  input[type="search"], .fonts-loaded
  input[type="tel"] {
    font-family: "Source Sans Pro", Arial, sans-serif; }
  textarea:focus,
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="date"]:focus,
  input[type="month"]:focus,
  input[type="time"]:focus,
  input[type="week"]:focus,
  input[type="number"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus {
    border: 1px solid #27A9E0;
    outline: 2px solid #27A9E0 !important; }

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  *margin-top: 0;
  line-height: normal;
  cursor: pointer; }

input[type="file"],
input[type="image"],
input[type="email"],
input[type="reset"],
input[type="text"] {
  width: 100%; }

input[type="submit"]:not(.give-donation-level-btn),
button:not(.give-donation-level-btn) {
  background-color: #B51414;
  border-radius: 2px;
  color: #ffffff;
  border: 2px solid #e31919;
  padding: 0.7rem 1rem; }
  input[type="submit"]:not(.give-donation-level-btn):hover, input[type="submit"]:not(.give-donation-level-btn):focus,
  button:not(.give-donation-level-btn):hover,
  button:not(.give-donation-level-btn):focus {
    background-color: #870f0f;
    color: #ffffff;
    border-color: #B51414; }
  input[type="submit"]:not(.give-donation-level-btn):active,
  button:not(.give-donation-level-btn):active {
    background-color: #2b0505;
    border-color: #870f0f; }

select,
input[type="file"] {
  *margin-top: 4px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */ }

input[type="file"] {
  font-size: 0.7rem;
  background-color: #f4f7f9;
  padding: 0.7rem 1rem; }

select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: 1px solid rgba(39, 169, 224, 0.4);
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

.asterisk {
  color: #B51414; }

.mc_title {
  margin-bottom: 0; }

.indicates-required,
.mce_inline_error {
  font-size: 1rem;
  font-style: italic;
  font-weight: 400; }

.mc-field-group {
  margin-top: 1rem; }

@media (min-width: 641px) {
  .mc-field-group-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1.6rem; } }

.gform_wrapper input[value="Other"] {
  font-size: 1rem !important; }

.gform_wrapper .gfield_checkbox > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .gform_wrapper .gfield_checkbox > li > label {
    margin-left: 0.7rem !important; }

.gform_wrapper .field_sublabel_above .ginput_complex.ginput_container label, .gform_wrapper .field_sublabel_above div[class*=gfield_date_].ginput_container label, .gform_wrapper .field_sublabel_above div[class*=gfield_time_].ginput_container label, .gform_wrapper .field_sublabel_below .ginput_complex.ginput_container label, .gform_wrapper .field_sublabel_below div[class*=gfield_date_].ginput_container label, .gform_wrapper .field_sublabel_below div[class*=gfield_time_].ginput_container label {
  letter-spacing: 0 !important; }

.site__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ffffff;
  padding: 0.7rem; }
  @media (min-width: 900px) {
    .site__header {
      padding-top: 0; } }

.site__footer {
  background-color: #050305;
  color: #ffffff; }

.header__brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.brand__logo {
  width: 100px;
  height: auto;
  padding-right: 1rem; }

.brand__text {
  font-size: 1.2rem;
  -ms-flex-negative: 0;
      flex-shrink: 0; }
  .brand__text > a {
    color: #050305;
    font-weight: 700;
    text-decoration: none; }

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

@media (max-width: 899px) {
  .nav__toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 4;
    background-color: #B51414;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1rem;
    border: 0; }
    .nav__toggle:before {
      content: '+';
      margin-right: 0.7rem; }
    .nav__toggle:focus {
      outline: 5px solid #050305; } }

@media (min-width: 900px) {
  .nav__toggle {
    display: none; } }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0; }
  @media (max-width: 899px) {
    .nav__list {
      position: fixed;
      top: 0;
      right: -100%;
      z-index: 3;
      min-width: 50vw;
      height: 100vh;
      padding-top: 3rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      text-align: right;
      visibility: hidden;
      -webkit-transition: all 0.25s ease-out;
      -o-transition: all 0.25s ease-out;
      transition: all 0.25s ease-out; }
      .nav__list.js-open {
        visibility: visible;
        background-color: #050305;
        border-left: 5px solid #B51414;
        right: 0; } }
  @media (min-width: 900px) {
    .nav__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      margin-left: 1rem;
      margin-right: 0; } }

.nav__list__item {
  padding-left: 1rem;
  padding-right: 1rem; }
  @media (max-width: 899px) {
    .nav__list__item.current-menu-item {
      background: #B51414; } }

.nav__link {
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  display: inline-block;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem; }
  @media (min-width: 900px) {
    .nav__link {
      color: #B51414;
      border-top: 10px solid transparent;
      -webkit-transition: 0.2s ease all;
      -o-transition: 0.2s ease all;
      transition: 0.2s ease all; }
      .current-menu-item .nav__link, .nav__link:hover {
        color: #050305;
        border-color: #B51414; } }

.page__header {
  background-color: #050305;
  color: #ffffff; }
  @supports not (display: grid) {
    .page__header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  @media (min-width: 900px) {
    .page__header {
      overflow: hidden; }
      @supports not (display: grid) {
        .page__header {
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between; } } }

.page__header-contents {
  padding-bottom: 1rem; }
  @media (min-width: 900px) {
    .page__header-contents {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      grid-column: 2 / span 1; }
      @supports not (display: grid) {
        .page__header-contents {
          padding-left: 3%;
          padding-right: 3%;
          -ms-flex-preferred-size: 500px;
              flex-basis: 500px;
          margin: auto;
          -webkit-box-flex: 0;
              -ms-flex-positive: 0;
                  flex-grow: 0; } } }
  @media (min-width: 1100px) {
    .page__header-contents {
      grid-column: 2 / span 2; } }

.page__title {
  font-size: 2.2rem;
  margin-bottom: 0; }
  @media (min-width: 641px) {
    .page__title {
      font-size: 3rem; } }

.page__tagline {
  font-size: 1.2rem;
  margin-top: 0; }
  @media (min-width: 900px) {
    .page__tagline {
      max-width: 600px;
      font-size: 1.6rem; } }

.page__header-image {
  display: none; }
  @media (min-width: 900px) {
    .page__header-image {
      -o-object-fit: cover;
         object-fit: cover;
      display: block;
      height: 40vh;
      width: 100%;
      grid-column: 3 / span 3;
      border-left: 10px solid #777; }
      @supports not (display: grid) {
        .page__header-image {
          width: 50%; } } }
  @media (min-width: 1100px) {
    .page__header-image {
      grid-column: 4 / span 4; } }

.page__main {
  background-color: #EEEEEE;
  padding-top: 15px; }
  @media (min-width: 900px) {
    .page__main {
      padding-top: 30px;
      padding-bottom: 30px; } }

.page__content {
  background-color: #ffffff;
  padding-top: 1.6rem; }

@media (min-width: 900px) {
  .content h2 {
    font-size: 2.2rem; }
  .content h3 {
    font-size: 1.6rem; } }

.content img {
  max-width: 100%; }

.wp-block-gallery {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: -8px;
  margin-right: -8px; }

figure {
  margin-left: 0;
  margin-right: 0; }

.wp-block-image {
  margin-left: 0;
  margin-right: 0; }

@media (min-width: 900px) {
  .alignleft {
    float: left;
    padding-right: 3%; } }

@media (min-width: 900px) {
  .alignright {
    float: right;
    padding-right: 3%; } }

.wp-block-separator {
  margin: 1.6rem 0 1rem 0; }

@media (min-width: 900px) {
  .alignwide {
    grid-column: 2 / 7; } }

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.gallery-item img {
  max-width: 100%;
  height: auto; }

.gallery-columns-1 > * {
  width: calc(100% / 1);
  padding: 0.7rem; }

.gallery-columns-2 > * {
  width: calc(100% / 2);
  padding: 0.7rem; }

.gallery-columns-3 > * {
  width: calc(100% / 3);
  padding: 0.7rem; }

.gallery-columns-4 > * {
  width: calc(100% / 4);
  padding: 0.7rem; }

table {
  margin-bottom: 1rem;
  font-size: 1rem; }

tr {
  border-bottom: 1px solid rgba(39, 169, 224, 0.4); }

td {
  padding: 1rem;
  border-right: 1px solid rgba(39, 169, 224, 0.4); }
  td:last-child {
    border-right: 0; }
  td:first-child {
    font-weight: 500; }

th {
  border-bottom: 1px solid rgba(39, 169, 224, 0.4);
  border-right: 1px solid rgba(39, 169, 224, 0.4);
  text-align: left;
  padding: 1rem;
  font-size: 1rem; }
  th:last-child {
    border-right: 0; }

@media (min-width: 900px) {
  .site__footer .inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }

.footer__copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
  background: #777;
  font-size: 1rem; }

.widgets {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0; }

.widget {
  background-color: #ffffff;
  padding: 5%;
  margin-top: 15px;
  margin-bottom: 15px; }
  @media (min-width: 900px) {
    .widget {
      margin-bottom: 30px;
      margin-top: 0; } }

.widget__title {
  margin-top: 0; }

.a11y {
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px; }

.article-body h2 {
  background: #59405C; }
