html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*! Flickity v2.0.11
http://flickity.metafizzy.co
---------------------------------------------- */
.flickity-enabled {
  position: relative; }

.flickity-enabled:focus {
  outline: 0; }

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%; }

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%; }

.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab; }

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing; }

.flickity-prev-next-button {
  position: absolute;
  top: 50%;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  background: #fff;
  background: rgba(255, 255, 255, 0.75);
  cursor: pointer;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
      transform: translateY(-50%); }

.flickity-prev-next-button:hover {
  background: #fff; }

.flickity-prev-next-button:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 5px #09f;
          box-shadow: 0 0 0 5px #09f; }

.flickity-prev-next-button:active {
  opacity: .6; }

.flickity-prev-next-button.previous {
  left: 10px; }

.flickity-prev-next-button.next {
  right: 10px; }

.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px; }

.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px; }

.flickity-prev-next-button:disabled {
  opacity: .3;
  cursor: auto; }

.flickity-prev-next-button svg {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%; }

.flickity-prev-next-button .arrow {
  fill: #333; }

.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1; }

.flickity-rtl .flickity-page-dots {
  direction: rtl; }

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  opacity: .25;
  cursor: pointer; }

.flickity-page-dots .dot.is-selected {
  opacity: 1; }

body:after {
  position: fixed;
  z-index: 9;
  bottom: 0;
  right: 0;
  color: white;
  padding: 20px;
  font-weight: 700;
  text-align: center; }

@font-face {
  font-family: system;
  font-style: normal;
  font-weight: inherit;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma"); }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.max {
  max-width: 1200px;
  margin: auto; }

.pad {
  padding: 1.4rem; }

@media (min-width: 860px) {
  .grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: grid;
    grid-template-rows: auto;
    grid-gap: 1.4rem; } }

.layout-single {
  grid-template-columns: minmax(-webkit-min-content, 800px);
  grid-template-columns: minmax(min-content, 800px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .no-cssgrid .layout-single .content {
    max-width: 800px; }

@media (min-width: 860px) {
  .layout-sidebar {
    grid-template-columns: 2fr 1fr; }
    .no-cssgrid .layout-sidebar .content {
      width: calc(66.66666% - 1.4rem); }
    .no-cssgrid .layout-sidebar .sidebar {
      width: 33.33333%; } }

@media (min-width: 860px) {
  .layout-image {
    grid-template-columns: repeat(5, 1fr); }
    .layout-image .content {
      grid-column: 1 / 3; }
    .layout-image .image {
      grid-column: 3 / -1; }
    .no-cssgrid .layout-image .content {
      width: calc(40% - 1.4rem); }
    .no-cssgrid .layout-image .image {
      width: 60%; } }

@media (min-width: 860px) {
  .layout-thirds {
    grid-template-columns: repeat(3, 1fr); }
    .no-cssgrid .layout-thirds > * {
      width: calc(33.3333% - 1.4rem); } }

body {
  font-family: Arial, serif;
  line-height: 1.5;
  font-size: 110%; }
  .fonts-loaded body {
    font-family: "Source Sans Pro", Arial, sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, sans-serif;
  line-height: 1.2; }
  .fonts-loaded h1, .fonts-loaded
  h2, .fonts-loaded
  h3, .fonts-loaded
  h4, .fonts-loaded
  h5, .fonts-loaded
  h6 {
    font-family: "Source Sans Pro", Arial, sans-serif; }

a,
a:link,
a:not(.btn) {
  color: #B51414; }
  @media (min-width: 860px) {
    a:hover,
    a:link:hover,
    a:not(.btn):hover {
      color: #050305; } }

p, li, label, input, textarea {
  font-size: 1.25rem; }

h2 {
  font-size: 2rem; }

h3, h4 {
  font-size: 1.75rem;
  margin-top: 2rem; }

.meta__title {
  text-transform: uppercase;
  color: #777;
  font-size: 1rem;
  margin-bottom: 0; }

.meta__desc {
  margin-top: 0; }

label {
  font-size: 1.25rem; }

label, select {
  display: block; }

input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top;
  width: 100%;
  height: 200px; }

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"] {
  padding: 0.7rem 1.4rem;
  background: #ffffff;
  border: 1px solid #aaaaaa;
  outline: 2px solid transparent;
  font-family: Arial, serif;
  font-weight: 300;
  -webkit-transition: 0.2s ease outline;
  -o-transition: 0.2s ease outline;
  transition: 0.2s ease outline; }
  .fonts-loaded textarea, .fonts-loaded
  input[type="text"], .fonts-loaded
  input[type="password"], .fonts-loaded
  input[type="datetime"], .fonts-loaded
  input[type="datetime-local"], .fonts-loaded
  input[type="date"], .fonts-loaded
  input[type="month"], .fonts-loaded
  input[type="time"], .fonts-loaded
  input[type="week"], .fonts-loaded
  input[type="number"], .fonts-loaded
  input[type="email"], .fonts-loaded
  input[type="url"], .fonts-loaded
  input[type="search"], .fonts-loaded
  input[type="tel"] {
    font-family: "Source Sans Pro", Arial, sans-serif; }
  textarea:focus,
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="date"]:focus,
  input[type="month"]:focus,
  input[type="time"]:focus,
  input[type="week"]:focus,
  input[type="number"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus {
    border: 1px solid #67b3d3;
    outline: 2px solid #67b3d3 !important; }

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  *margin-top: 0;
  line-height: normal;
  cursor: pointer; }

input[type="file"],
input[type="image"],
input[type="email"],
input[type="reset"],
input[type="text"] {
  width: 100%; }

input[type="submit"]:not(.give-donation-level-btn),
button:not(.give-donation-level-btn) {
  background-color: #B51414;
  border-radius: 2px;
  color: #ffffff;
  font-size: 1.25rem;
  border: 2px solid #e31919;
  padding: 0.7rem 1.4rem; }
  input[type="submit"]:not(.give-donation-level-btn):hover, input[type="submit"]:not(.give-donation-level-btn):focus,
  button:not(.give-donation-level-btn):hover,
  button:not(.give-donation-level-btn):focus {
    background-color: #870f0f;
    color: #ffffff;
    border-color: #B51414; }
  input[type="submit"]:not(.give-donation-level-btn):active,
  button:not(.give-donation-level-btn):active {
    background-color: #2b0505;
    border-color: #870f0f; }

select,
input[type="file"] {
  *margin-top: 4px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */ }

input[type="file"] {
  font-size: 1rem;
  background-color: #f4f7f9;
  padding: 0.7rem 1.4rem; }

select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: 1px solid rgba(103, 179, 211, 0.4);
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

.asterisk {
  color: #B51414; }

.mc_title {
  margin-bottom: 0; }

.indicates-required,
.mce_inline_error {
  font-size: 1rem;
  font-style: italic;
  font-weight: 400; }

.mc-field-group {
  margin-top: 1.4rem; }

@media (min-width: 641px) {
  .mc-field-group-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem; } }

.gform_wrapper input[value="Other"] {
  font-size: 1.25rem !important; }

.gform_wrapper .gfield_checkbox > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .gform_wrapper .gfield_checkbox > li > label {
    margin-left: 0.7rem !important; }

.gform_wrapper .field_sublabel_above .ginput_complex.ginput_container label, .gform_wrapper .field_sublabel_above div[class*=gfield_date_].ginput_container label, .gform_wrapper .field_sublabel_above div[class*=gfield_time_].ginput_container label, .gform_wrapper .field_sublabel_below .ginput_complex.ginput_container label, .gform_wrapper .field_sublabel_below div[class*=gfield_date_].ginput_container label, .gform_wrapper .field_sublabel_below div[class*=gfield_time_].ginput_container label {
  letter-spacing: 0 !important; }

.gform_wrapper .gsection .gfield_label, .gform_wrapper h2.gsection_title, .gform_wrapper h3.gform_title {
  font-size: 1.75rem !important;
  margin-top: 1.25rem !important; }

[id*=give-form] .give-form-title {
  margin-top: 2rem; }

.btn,
.btn-outer > a.nav__link {
  text-decoration: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #B51414;
  border-radius: 2px;
  color: #ffffff;
  font-size: 1.25rem;
  border: 2px solid #e31919;
  padding: 0.7rem 1.4rem; }
  .btn:hover, .btn:focus,
  .btn-outer > a.nav__link:hover,
  .btn-outer > a.nav__link:focus {
    background-color: #870f0f;
    color: #ffffff;
    border-color: #B51414; }
  .btn:active,
  .btn-outer > a.nav__link:active {
    background-color: #2b0505;
    border-color: #870f0f; }

.btn--outline {
  text-decoration: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: transparent;
  border-radius: 2px;
  color: #ffffff;
  font-size: 1.25rem;
  border: 2px solid rgba(26, 26, 26, 0);
  padding: 0.7rem 1.4rem;
  border-color: #B51414;
  color: #B51414; }
  .btn--outline:hover, .btn--outline:focus {
    background-color: rgba(0, 0, 0, 0);
    color: #ffffff;
    border-color: transparent; }
  .btn--outline:active {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0); }

.site__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ffffff;
  padding: 0.7rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media (min-width: 860px) {
    .site__header {
      padding-bottom: 0; } }

.site__footer {
  background-color: #050305;
  color: #ffffff; }

.header__brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.brand__logo {
  width: 100px;
  min-height: 50px;
  padding-right: 0.7rem; }

.brand__text {
  font-size: 1.25rem;
  -ms-flex-negative: 0;
      flex-shrink: 0; }
  @media (max-width: 640px) {
    .brand__text {
      clip: rect(1px 1px 1px 1px);
      clip: rect(1px, 1px, 1px, 1px);
      height: 1px;
      overflow: hidden;
      position: absolute !important;
      width: 1px; } }
  .brand__text > a {
    color: #050305;
    font-weight: 700;
    text-decoration: none; }

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

@media (max-width: 859px) {
  .nav__toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 4;
    background-color: #B51414;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.4rem;
    border: 0; }
    .nav__toggle:before {
      content: '+';
      margin-right: 0.7rem; }
    .nav__toggle:focus {
      outline: 5px solid #050305; } }

@media (min-width: 860px) {
  .nav__toggle {
    display: none; } }

.nav__list {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0; }

.nav__list[rel=js-menu] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media (max-width: 859px) {
    .nav__list[rel=js-menu] {
      position: fixed;
      top: 0;
      right: -100%;
      z-index: 3;
      min-width: 55vw;
      min-height: 100vh;
      padding-top: 3rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      visibility: hidden;
      -webkit-transition: all 0.25s ease-out;
      -o-transition: all 0.25s ease-out;
      transition: all 0.25s ease-out; }
      .nav__list[rel=js-menu].is-open {
        visibility: visible;
        background-color: #050305;
        border-left: 5px solid #B51414;
        right: 0; } }
  @media (min-width: 860px) {
    .nav__list[rel=js-menu] {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      margin-left: 1.4rem;
      margin-right: 0; } }

@media (max-width: 859px) {
  .nav__list-item.current-menu-item {
    background: #B51414; }
  .nav__list-item.btn-outer {
    margin-top: 1.25rem; } }

@media (min-width: 860px) {
  .nav__list-item.btn-outer {
    margin-left: 1vw; } }

a.nav__link {
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  display: inline-block;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem; }
  a.nav__link:active, a.nav__link:focus {
    color: #67b3d3; }
  @media (min-width: 860px) {
    a.nav__link {
      padding-left: 1vw;
      padding-right: 1vw; } }
  @media (max-width: 859px) {
    a.nav__link {
      padding-left: 0.5rem;
      padding-right: 0.5rem; } }
  @media (min-width: 860px) {
    a.nav__link {
      color: #B51414;
      border-bottom: 10px solid transparent;
      -webkit-transition: 0.2s ease all;
      -o-transition: 0.2s ease all;
      transition: 0.2s ease all; }
      a.nav__link:hover {
        color: #050305;
        border-color: #B51414; } }

.menu-item-has-children {
  position: relative;
  overflow: hidden; }
  @media (max-width: 859px) {
    .menu-item-has-children > a {
      padding-right: 20px; } }

button.dropdown-toggle {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="%23FFF" width="32" height="32"><path d="M24.773 13.7c-.65.67-7.512 7.206-7.512 7.206a1.752 1.752 0 0 1-2.52 0s-6.862-6.536-7.515-7.205c-.65-.668-.696-1.87 0-2.585.698-.714 1.67-.77 2.522 0L16 17.112l6.25-5.995c.855-.77 1.828-.714 2.523 0 .698.714.654 1.917 0 2.584z"/></svg>');
  position: absolute;
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  right: 0;
  top: 0;
  -webkit-transform: translateY(100%) translateX(-5px);
      -ms-transform: translateY(100%) translateX(-5px);
          transform: translateY(100%) translateX(-5px);
  padding: 0; }

.menu-item-has-children > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
  height: 0; }
  @media (min-width: 860px) {
    .menu-item-has-children > ul {
      position: absolute;
      width: 100%; } }
  .menu-item-has-children > ul .menu-item {
    border-bottom: 1px solid #B51414;
    width: 100%;
    padding-right: 0; }
    .menu-item-has-children > ul .menu-item a {
      color: #B51414;
      display: block; }

.menu-item-has-children:focus > ul {
  height: auto;
  opacity: 1;
  z-index: 3;
  position: relative; }

.menu-item-has-children.current-menu-item > ul {
  height: auto; }

.page__header {
  background-color: #050305;
  color: #ffffff; }

.page__title {
  font-size: 2rem; }
  @media (min-width: 860px) {
    .page__title {
      font-size: 2.625rem; } }

.page__tagline {
  margin-top: 0;
  font-size: 1.25rem; }
  @media (min-width: 860px) {
    .page__tagline {
      font-size: 1.5rem; } }

.page__header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center; }
  @media (min-width: 860px) {
    .layout-image .page__header-content {
      text-align: left;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end; }
    .page__header-content > * {
      width: 100%;
      max-width: 400px; } }

.page__header-image {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%; }
  .no-objectfit .page__header-image {
    height: auto; }
  @media (min-width: 860px) {
    .page__header-image {
      min-height: 400px;
      -webkit-clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
              clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%); } }

.page__cta {
  border-top: 1px solid #777;
  padding-top: 1.4rem; }
  .page__cta a:hover {
    text-decoration: none; }

@media (min-width: 860px) {
  .page__main {
    padding-top: 2.8rem; } }

@media (min-width: 860px) {
  .page__content {
    padding-top: 0; } }

.content img {
  max-width: 100%; }

.wp-block-gallery {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: -8px;
  margin-right: -8px; }

figure {
  margin-left: 0;
  margin-right: 0; }

.wp-block-image {
  margin-left: 0;
  margin-right: 0; }
  .wp-block-image img {
    max-width: 100%; }

@media (min-width: 860px) {
  .alignwide {
    grid-column: 2 / 7; } }

@media (min-width: 860px) {
  .alignleft {
    float: left;
    padding-right: 3%; } }

@media (min-width: 860px) {
  .alignright {
    float: right;
    padding-right: 3%; } }

.wp-block-button .wp-block-button__link {
  background-color: #444444;
  border-radius: 2px;
  color: #ffffff;
  font-size: 1.25rem;
  border: 2px solid #5e5e5e;
  padding: 0.7rem 1.4rem; }
  .wp-block-button .wp-block-button__link:hover, .wp-block-button .wp-block-button__link:focus {
    background-color: #2b2b2b;
    color: #ffffff;
    border-color: #444444; }
  .wp-block-button .wp-block-button__link:active {
    background-color: black;
    border-color: #2b2b2b; }

.wp-block-separator {
  margin: 2rem 0 1.4rem 0; }

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.gallery-item img {
  max-width: 100%;
  height: auto; }

.gallery-columns-1 > * {
  width: calc(100% / 1);
  padding: 0.7rem; }

.gallery-columns-2 > * {
  width: calc(100% / 2);
  padding: 0.7rem; }

.gallery-columns-3 > * {
  width: calc(100% / 3);
  padding: 0.7rem; }

.gallery-columns-4 > * {
  width: calc(100% / 4);
  padding: 0.7rem; }

.longform-rows {
  grid-template-rows: 0.5fr minmax(0.5fr, 400px) -webkit-min-content;
  grid-template-rows: 0.5fr minmax(0.5fr, 400px) min-content;
  grid-row-gap: 1.4rem;
  padding-bottom: 1.4rem; }

.longform-image {
  grid-column: 1 / -1;
  grid-row: 1 / span 2; }
  .longform-image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.longform-details {
  grid-row: 2 / span 2;
  background-color: #ffffff;
  border-top: 10px solid #D7C296;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  padding-bottom: 1.4rem;
  grid-column: 1 / -1; }
  @media (min-width: 860px) {
    .longform-details {
      margin-top: 1.4rem;
      margin-bottom: 1.4rem;
      grid-column: 2 / span 2; } }

.longform-nav {
  grid-row: 3 / span 1;
  grid-column: 4 / span 1; }

.longform-nav__list {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .longform-nav__list > li a {
    font-weight: 700;
    text-decoration: none; }
    .longform-nav__list > li a:hover:before {
      -webkit-transition: 0.2s ease left;
      -o-transition: 0.2s ease left;
      transition: 0.2s ease left;
      left: 5px; }
    .longform-nav__list > li a:before {
      position: relative;
      content: '\021E2';
      color: #870f0f;
      padding-right: 10px; }

table {
  margin-bottom: 1.4rem;
  font-size: 1.4rem; }

tr {
  border-bottom: 1px solid rgba(103, 179, 211, 0.4); }

td {
  padding: 1.4rem;
  border-right: 1px solid rgba(103, 179, 211, 0.4); }
  td:last-child {
    border-right: 0; }
  td:first-child {
    font-weight: 500; }

th {
  border-bottom: 1px solid rgba(103, 179, 211, 0.4);
  border-right: 1px solid rgba(103, 179, 211, 0.4);
  text-align: left;
  padding: 1.4rem;
  font-size: 1.4rem; }
  th:last-child {
    border-right: 0; }

.site__footer {
  padding-top: 1.4rem; }
  .site__footer a {
    color: #D7C296; }
    .site__footer a:hover, .site__footer a:active {
      color: #f4f7f9; }

.footer__copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1.4rem;
  background: #B51414;
  text-align: center;
  padding: 0.7rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .footer__copy p {
    font-size: 1rem; }

.footer__social {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 0.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .footer__social li {
    padding-left: 0.7rem;
    padding-right: 0.7rem; }
  .footer__social svg {
    fill: #ffffff; }
    .footer__social svg:hover {
      fill: #D7C296; }

@media (min-width: 860px) {
  .page__sidebar {
    padding-right: 1.4rem; } }

.widgets {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0; }

.widget {
  border-top: 10px solid #B51414;
  padding-top: 0; }
  @media (min-width: 860px) {
    .widget {
      margin-bottom: 1.4rem;
      margin-top: 0; } }
  .widget .menu {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0; }
    .widget .menu li:before {
      content: '\0002B';
      padding-right: 5px;
      color: #B51414; }

.widget__title {
  font-size: 1.5rem; }

.icon--with-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none; }
  .icon--with-text .text {
    color: #f4f7f9; }

.icon--red svg {
  fill: #D7C296; }

.a11y {
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px; }

.article-body h2 {
  background: #59405C; }
