// Button
@mixin button( $button-color, $text-color: $white ) {
  background-color: $button-color;
  border-radius: 2px;
  color: $text-color;

  border: 2px solid lighten($button-color, 10%);
  padding: $size-xs $size-sm;

	&:hover,
	&:focus {
		background-color: darken( $button-color, 10% );
		color: $text-color;
    border-color: $button-color;
	}

	&:active {
		background-color: darken( $button-color, 30% );
    border-color: darken( $button-color, 10%);
	}
}



@mixin span-4 {
	grid-column: 1;
	@media( $tablet-start ) {
		grid-column: 2 / span 4;
	}
}

// Hardware acceleration
@mixin accelerate($name) {
  will-change: $name;
  transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1000px;
}

// Font loading
@mixin fonts($type) {
	@if $type == body {
		font-family: $font-initial-body;

		.fonts-loaded & {
			font-family: $font-family-body;
		}

	} @else {
		font-family: $font-initial-heading;

		.fonts-loaded & {
			font-family: $font-family-heading;
		}

	}
}

// Helpers
@mixin unstyle-list {
	list-style-type: none;
	padding-left: 0;
	margin-bottom: 0;
	margin-top: 0;
}
