
// ----
// ---- Screen Sizes
// ----


// Breakpoints

$screens: (
  'mobile':  641px,
  'tablet':  900px,
  'desktop': 1100px
);

$mobile-only: 'max-width: #{map-get($screens, 'mobile') - 1}';
$phablet-start: 'min-width: #{map-get($screens, 'mobile')}';
$tablet-start: 'min-width: #{map-get($screens, 'tablet')}';
$desktop-start: 'min-width: #{map-get($screens, 'desktop')}';

$desktop-nav: $tablet-start;
$mobile-nav: 'max-width: #{map-get($screens, 'tablet') - 1}';

body {
  &:after {
    position: fixed;
    z-index: 9;
    bottom: 0;
    right: 0;
    color: white;
    padding: 20px;
    font-weight: 700;
    text-align: center;

    @media( $mobile-only ) {
      background-color: #1b75bc;
      content: 'Mobile only';
    }
    @media( $phablet-start ) {
      background-color: #59405C;
      content: 'Phablet Start';
    }
    @media( $tablet-start ) {
      background-color: #1BBF54;
      content: 'Tablet start';
    }
    @media( $desktop-start ) {
      background-color: #FC625D;
      content: 'Desktop start';
    }
  }
}


$screen-sm:		30em;
$screen-md:		43em;
$screen-lg:		75em;
$screen-xl:		90em;


// ----
// ---- Colors
// ----

$dark-blue: 		#1b75bc;
$light-blue: 		#27A9E0;
$vlight-blue:   #E0E6F2;

$grey: 				  #777;
$dark-grey: 		#272727;

$white: 			  #ffffff;
$white-alt:  		#f4f7f9;

$maroon: 			#59405C;
$l-teal: 			desaturate(#BDF2E3, 10%);
$seagreen:    #21A99C;
$green: 			#1BBF54;
$yellow: 			#FCF7D8;
$l-yellow: 		lighten($yellow, 5%);
$orange: 			#FC625D;
$dark-red:	  #B51414;
$gold: 				#D7C296;
$black: 			#050305;


// Semantic variable names

$color-vlight:	$white-alt;
$color-light:		$gold;
$color-med:		  $light-blue;
$color-dark:		$dark-red;
$color-vdark:		$black;

$color-white:         $white;
$color-grey:          $grey;
$color-grey-light:    lighten($grey, 20%);
$color-grey-vlight:   #EEEEEE;;

$c-link-color:		darken($color-med, 10%);
$c-link-hover: 		$color-vdark;


// ----
// ---- Typography
// ----

// Rem Unit Scale

$line-height-base: 	1.5;
$line-height-sm: 	  1.3;

// Reevaluate these
$size-xs: 		0.7rem;
$size-sm: 		1rem;
$size-sm-md: 	1.2rem;
$size-md: 		1.6rem;
$size-md-lg:	2.2rem;
$size-lg:			2.6rem;

// Fonts

$sans-serif: 	'Source Sans Pro', Arial, sans-serif;
$serif: 			'Crimson Text', Georgia, serif;

$font-initial-heading: Arial, sans-serif;
$font-initial-body:    Georgia, serif;

$font-family-heading: $sans-serif;
$font-family-body: 		$sans-serif;

$font-weight-base:     400;
$font-weight-strong:   700;
$font-weight-heading:  600;



// ----
// ---- Utilities
// ----

$border-reg: 		1px solid rgba($color-med, 0.4);
$border-thick: 	5px solid $color-light;

// Z-Index Scale
$z-bot: 	 -1;
$z-base:   0;
$z-back: 	 1;
$z-mid: 	 2;
$z-top: 	 3;
$z-tiptop: 4;

