{% extends "base.twig" %}

{% block content %}
	<article class="page__article">

		<header class="page__header--carousel">
			<div class="carousel" data-flickity='{ "cellAlign": "left", "contain": true }'>
				<div class="carousel__cell">
					<img class="cell__image" src="{{post.thumbnail.src}}" alt="">
				</div>
				<div class="carousel__cell">
					<img class="cell__image" src="{{post.thumbnail.src}}" alt="">
				</div>
			</div>
			<div class="carousel__overlay grid-outer">
				<div class="content">
					<h1>heyyy</h1>
				</div>
			</div>
		</header>

		{{post.content}}

		<section class="page__main grid-outer">

		</section>


	</article>
{% endblock %}