{% extends "base.twig" %}

{% block content %}
	<article class="page__article">

		<header class="page__header--carousel">
			<div class="carousel__overlay grid-outer">
				<div class="overlay exclude">
					<h1 class="carousel__title">2018 Philadelphia Concours D'elegance</h1>
					<strong>Saturday June 16, 2018</strong><br>
					<strong>10:00am – 4:00pm</strong><br>
					<em>(Preview Gala: Friday June 15, 6:30pm)</em><br>
					<p>Simeone Automotive Museum<br>
					6825-31 Norwitch Dr, Philadelphia, PA 19153</p>
					<nav class="longform-nav">
						<ul class="longform-nav__list">
							<li><a href="#register">Register Your Car</a></li>
							<li><a href="#tickets">Buy Tickets</a></li>
							<li><a href="#sponsor">Sponsor</a></li>
							<li><a href="#volunteer">Volunteer</a></li>
						</ul>
					</nav>
				</div>
			</div>
			<div class="carousel" data-flickity='{ "cellAlign": "left", "contain": true }'>
				<div class="carousel__cell">
					<img class="cell__image" src="{{post.thumbnail.src}}" alt="">
				</div>
				<div class="carousel__cell">
					<img class="cell__image" src="{{post.thumbnail.src}}" alt="">
				</div>
			</div>
		</header>

		<section class="page__main grid-outer">
			{{post.content}}
		</section>


	</article>
{% endblock %}