{% extends "tease.twig" %}

{% block content %}
<div class="grid layout-sidebar">
	<div class="content">
		<h2 class="h2"><a href="{{post.link}}">{{post.title}}</a></h2>
		<p>{{post.preview.length(25)}}</p>
	</div>
	{% if post.thumbnail.src %}
		<figure class="sidebar">
			<img src="{{post.thumbnail.src('large')}}" />
		</figure>
	{% endif %}
</div>
{% endblock %}