.content {

	img {
		max-width: 100%;
	}
}

.wp-block-gallery {
	@include unstyle-list;
	margin-left: -8px;
	margin-right: -8px;
}

figure {
	margin-left: 0;
	margin-right: 0;
}

.wp-block-image {
	margin-left: 0;
	margin-right: 0;
	img {
		max-width: 100%;
	}
}


//
// Alignment
//

.alignwide {
	@media( $tablet-start ) {
		grid-column: 2 / 7;
	}
}

.alignleft {
	@media( $tablet-start ) {
		float: left;
		padding-right: 3%;
	}
}

.alignright {
	@media( $tablet-start ) {
		float: right;
		padding-right: 3%;
	}
}


//
// Blocks
//

.wp-block-button .wp-block-button__link {
	@include button($color-grey-dark);
}

.wp-block-separator {
	margin: $size-md 0 $size-sm 0;
}


//
// Gallery
//

.gallery {
	display: flex;
	flex-wrap: wrap;
}

.gallery-item img {
	max-width: 100%;
	height: auto;
}

@for $i from 1 through 4 {
	.gallery-columns-#{$i} {
		> * {
			width: calc(100% / #{$i});
			padding: $size-xs;
		}
	}
}