.site__footer {
	padding-top: $gutter;

	a {
		color: $color-light;

		&:hover,
		&:active {
			color: $color-vlight;
		}

	}
}

.footer__copy {
	display: flex;
	margin-top: $size-sm;
	background: $color-dark;
	text-align: center;
	padding: $size-xs;
	align-items: center;

	p {
		font-size: $size-p-sm;
	}
}

.footer__social {
	@include unstyle-list;
	padding-top: $size-xs;
	display: flex;
	justify-content: center;
	li {
		padding-left: $size-xs;
		padding-right: $size-xs;
	}

	svg {
		fill: $color-white;
		&:hover {
			fill: $color-light;
		}
	}
}