.longform-rows {
	grid-template-rows: .5fr minmax(.5fr, 400px) min-content;
	grid-row-gap: $gutter;
	padding-bottom: $gutter;
}

.longform-image {
	grid-column: 1 / -1;
	grid-row: 1 / span 2;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.longform-details {
	grid-row: 2 / span 2;

	background-color: $white;
	border-top: 10px solid $color-light;
	padding-left: $gutter;
	padding-right: $gutter;
	padding-bottom: $gutter;
	grid-column: 1 / -1;

	@media( $tablet-start ) {
		margin-top: $gutter;
		margin-bottom: $gutter;
		grid-column: 2 / span 2;
	}

}

.longform-nav {
	grid-row: 3 / span 1;
	grid-column: 4 / span 1;
}

.longform-nav__list {

	@include unstyle-list;
	display: flex;
	flex-direction: column;

	> li a {
		font-weight: $font-weight-strong;
		text-decoration: none;

		&:hover {
			&::before {
				@include transition(left);
				left: 5px;
			}
		}

		&::before {
			position: relative;
			content: '\021E2';
			color: $color-darker;
			padding-right: 10px;
		}
	}
}
