.nav__toggle {
	position: relative;
	z-index: $z-tiptop;

	@media( $desktop-nav ) {
		display: none;
	}
}

[data-site-nav] {

	.menu {
		margin-left: 0;
		margin-top: 0; 
		padding-left: 0;
		
		@media( $mobile-nav ) {
			padding-top: $size-lg;
			position: absolute;
			z-index: $z-top;
			top: 0;
			left: 20px;
			background-color: $color-vdark;
			border-left: 10px solid $color-dark;
			border-bottom: 10px solid $color-dark;
			width: 100%;
			min-height: calc( 100vh + 10px ); // So border doesn't show unless it's a long menu.
			transform: translateX(100%);
			transition: transform 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
		
			&.is-open {
				transform: translateX(0);
			}

			a {
				color: $color-white;
				text-decoration: none;
			}
		}

		@media( $desktop-nav ) {
			display: flex;

			a {
				color: $color-dark;
				font-weight: $font-weight-strong;
				text-decoration: none;
			}

			a:hover {
				color: $color-vdark;
			}
		}

	}

	.menu > .menu-item {
		
		@media( $mobile-nav ) {
			padding-top: $size-xs;
			padding-bottom: $size-xs;
			padding-left: $size-xs;
			
			& + .menu-item { // stylelint-disable selector-max-specificity
				border-top: 1px solid $color-dark;
			}
		}

		@media( $desktop-nav ) {

		}
		
	}

	.menu-item {
		list-style-type: none;
		padding-right: $size-xs;
		padding-left: $size-xs;
		position: relative;
	}

	

	.sub-menu {
		
		@media( $desktop-nav ) {
			padding-left: 0;
			position: absolute;
			z-index: $z-top;
			left: 0;
			background-color: $color-vlight;
			opacity: 0;
			max-height: 0;
			visibility: hidden;
			box-shadow: 0 3px 3px rgba($color-grey, 0.5);
		}
	}

	.menu-item-has-children {
		padding-right: $size-sm;
		
	}

	.menu-item-has-children::after {
		content: '+';
		position: absolute;
		height: 20px;
		width: 20px;
		background-repeat: no-repeat;
		background-size: cover;
		right: 0;
		top: 0;
	}

	.menu-item-has-children:hover .sub-menu,
	.focus .sub-menu {

		@media( $desktop-nav ) {
			max-height: none;
			opacity: 1;
			visibility: visible;
		}
	}

	.sub-menu .menu-item {

		@media( $desktop-nav ) {
			white-space: nowrap;
			padding-top: $size-xs;
			padding-bottom: $size-xs;
			border-top: 1px solid $color-light;
		}
	}

}
