// stylelint-disable 

.page__sidebar {
	@media( $tablet-start ) {
		padding-right: $gutter;
	}
}

.widgets {
	@include unstyle-list;
}

.widget {
	border-top: 10px solid $color-dark;
	padding-top: 0;

	@media( $tablet-start ) {
		margin-bottom: $gutter;
		margin-top: 0;
	}

	.menu {
		@include unstyle-list;
		li::before {
			content: '\0002B';
			padding-right: 5px;
			color: $color-dark;
		}
	}
	// If smaller widget text
	// p, li {
	// 	font-size: $size-p-sm;
	// }
}

.widget__title {
	font-size: $size-h4;
}