<section class="page__main">
	<div class="grid layout-sidebar max">
		<div class="page__content content pad">
			{{post.content}}
		</div>
		<aside class="page__sidebar sidebar">
			<ul class="sidebar__widgets">
				{{sidebar}}
			</ul>
		</aside>
	</div>
</section>